<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                    <tr class="table100-head">
                        <th class="column1">Avatar</th>
                        <th class="column2">ID</th>
                        <th class="column3">Name</th>
                        <th class="column4">Username</th>
                        <th class="column5">Password</th>
                        <th class="column6">State</th>
                    </tr>
                    </thead>
                    {{#each docs}}
                        <tbody>
                        <tr>
                            <td class="column1"><img class="rounded-circle me-2" width="30" height="30" src="img/avatars/avatar{{this.id}}.jpeg" /></td>
                            <td class="column2">{{this.id}}</td>
                            <td class="column3">{{this.name}}</td>
                            <td class="column4">{{this.username}}</td>
                            <td class="column5">{{this.password}}</td>
                            <td class="column6">{{this.state}}</td>
                        </tr>
                        </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>