<table class="table my-0" id="dataTable">
                     <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>HEART RATE</th>
                                    <th>SPO2</th>
                                    <th>TEMPERATURE</th>
                                    <th>STATUS</th>

                                </tr>
                     </thead>
    {{#each ups}}
        <tr>
            <td>{{this.key_device}}</td>
            <td>
                {{#each this.heart}}
                    <div>heart:{{this.value}}</div>
                {{/each}}
            </td>
            <td>
                {{#each this.spO2}}
                    <div>spo2:{{this.value}}</div>
                {{/each}}
            </td>
            <td>
                {{#each this.temp}}
                    <div>temp:{{this.value}}</div>
                {{/each}}
            </td>
            <td>
                {{#each this.sos}}
                    <div>warns:{{this.value}}</div>
                {{/each}}
            </td>
        </tr>
    {{/each}}

 <!-- error{ data return empty, only 2 item on view}  -->

</table>

<tbody>
<!--<tr>-->
<!--    <td>{{this.key_device}}</td>-->
<!--    <td>{{this.heart.[0].value}}</td>-->
<!--    <td>{{this.spO2.[0].value}}</td>-->
<!--    <td>{{this.temp.[0].value}}</td>-->
<!--    <td>{{this.warnn.[0].value}}</td>-->
<!--</tr>-->
<!--</tbody>-->
