<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
        <div class="sidebar-brand-text mx-3"><span>Profile</span></div>
    </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="/list-patients"><i
                    class="fas fa-tachometer-alt"></i><span>Danh sách bệnh nhân</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/list-doctors"><i class="fas fa-user"></i><span>Danh sách bác sĩ</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/add-patient"><i
                    class="fas fa-table"></i><span>Add patient</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/login"><i class="far fa-user-circle"></i><span>Thông báo</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-user-circle"></i><span>Đăng xuất</span></a>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline">
            <button class=" rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>
<table class="table my-0" id="dataTable">
                     <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>HEART RATE</th>
                                    <th>SPO2</th>
                                    <th>TEMPERATURE</th>
                                </tr>
                     </thead>
    <tbody>
    {{#each ups}}
        <tr>
            <td style="margin-top: 50px">{{this.key_device}}</td>
            <td style="margin-top: 50px">
                {{#each this.heart}}
                    <div style="margin-top: 50px">heart:{{this.value}}</div>
                    <div style="margin-top: 50px">real time:{{this.real_time}}</div>
                    <hr/>
                {{/each}}
            </td>
            <td style="margin-top: 50px">
                {{#each this.spO2}}
                    <div style="margin-top: 50px">spo2:{{this.value}}</div>
                    <div style="margin-top: 50px">real time:{{this.real_time}}</div>
                    <hr/>
                {{/each}}
            </td >
            <td style="margin-top: 50px">
                {{#each this.temp}}
                    <div style="margin-top: 50px">temp:{{this.value}}</div>
                    <div style="margin-top: 50px">real time:{{this.real_time}}</div>
                    <hr/>
                {{/each}}
            </td>
        </tr>
    {{/each}}
    </tbody>

 <!-- error{ data return empty, only 2 item on view}  -->

</table>

