<table class="table my-0" id="dataTable">
                     <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>HEART RATE</th>
                                    <th>SPO2</th>
                                    <th>TEMPERATURE</th>
                                </tr>
                     </thead>
    <tbody>
    {{#each ups}}
        <tr>
            <td style="margin-top: 50px">{{this.key_device}}</td>
            <td style="margin-top: 50px">
                {{#each this.heart}}
                    <div style="margin-top: 50px">heart:{{this.value}}</div>
                    <div style="margin-top: 50px">real time:{{this.real_time}}</div>
                    <hr/>
                {{/each}}
            </td>
            <td style="margin-top: 50px">
                {{#each this.spO2}}
                    <div style="margin-top: 50px">spo2:{{this.value}}</div>
                    <div style="margin-top: 50px">real time:{{this.real_time}}</div>
                    <hr/>
                {{/each}}
            </td >
            <td style="margin-top: 50px">
                {{#each this.temp}}
                    <div style="margin-top: 50px">temp:{{this.value}}</div>
                    <div style="margin-top: 50px">real time:{{this.real_time}}</div>
                    <hr/>
                {{/each}}
            </td>
        </tr>
    {{/each}}
    </tbody>

 <!-- error{ data return empty, only 2 item on view}  -->

</table>

